
<div class="dropdown menu" id="userMenu">
    <div id="userName" class="menu">{{user.name}}</div>
    <div id="actionList" class="dropdownList menu">
        <div id="sendEmail" class="menu">Send Email</div>
        <div id="sendText" class="menu">Send Text Message</div>
        <div id="logOut" class="menu"><a href="/logout">Log Out</a></div>
    </div>
</div>