
<div class="dropdown menu" id="userMenu">
    <div id="userName" class="menu"></div>
    <div id="actionList" class="dropdownList menu">
        <div id="sendEmail" class="menu">Send Email</div>
        <div id="sendText" class="menu">Send Text Message</div>
        <div id="about" class="menu hr">About</div>
        <a href="/settings"><div id="settings" class="menu">Settings</div></a>
        <a href="/logout"><div id="logOut" class="menu hr">Log Out</div></a>
    </div>
</div>
<script>
    let menuName = `{{{data}}}`;
    //console.log('headerholder type',typeof menuName);
    menuName = JSON.parse(menuName)
    //console.log('headerholder type two',typeof menuName);
    console.log("incase I need it, here's menuName object",menuName)
    document.querySelector('#userName').innerHTML = menuName.user.name
</script>