<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <title>Register Account</title>
</head>
<body>
    <div class="headerBar">
        <h1 class="center sectionTitle">{{title}}</h1>
    </div>
    <div class="container">
        <div id="" class="padTop flex flexCenter">
            <form id="login" method="POST" action="/register" enctype="application/json">
                <div>
                    <label class="minorLightText miniTitle">
                        Name
                        <input type="text" placeholder="Name" id="name" name="name" required>
                    </label>
                </div>
                <div>
                    <label class="minorLightText miniTitle">
                        Email
                        <input type="text" placeholder="email" id="email" name="email" required>
                    </label>
                </div>
                <div>
                    <label class="minorLightText miniTitle">
                        Password
                        <input type="password" placeholder="password" id="password" name="password" required>
                    </label>
                </div>
                <div>
                    <label class="minorLightText miniTitle">
                        Confirm Password
                        <input type="password" placeholder="confirm password" id="confirmPassword" name="confirmPassword" required>
                    </label>
                </div>
                <div>
                    <label class="minorLightText miniTitle">
                        Phone Number
                        <input type="phone" placeholder="##########" id="phone" name="phone">
                    </label>
                </div>
                <div class="padBottom">
                    <label class="minorLightText miniTitle">
                        <div>
                        Carrier Gateway
                        </div>
                        <select id="carrier" name="carrier">
                            <option value=""></option>
                            <option value="@txt.att.net">AT&T</option>
                            <option value="@myboostmobile.com">Boost Mobile</option>
                            <option value="@sms.mycricket.com">Cricket</option>
                            <option value="@messaging.sprintpcs.com">Sprint</option>
                            <option value="@tmomail.net">T-Mobile</option>
                            <option value="@vmobl.com">Virgin Mobile</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Register" id="signin" />
            </form>
        </div>
        <div class="center minorLightText miniTitle" id="demo">Already have an account? <div><a href="/login" class="minorLightText">Sign In</a></div></div>
    </div>
    {{!-- <script src="js/login.js"></script> --}} 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17373319-21"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());gtag('config', 'UA-17373319-21');
    </script>
</body>
</html>